* {
    margin: 0 auto;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Thin.otf") format('otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Light.otf") format('otf');
    font-weight:light;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Book.otf") format('otf');
    font-weight:normal;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Bold.otf") format('otf');
    font-weight:bold;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Heavy.otf") format('otf');
    font-weight:bolder;
}


body {
    background-color : #202020;
    color:#D6D6D6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 80vw;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
    font-size: 15px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    padding : 50px 0;
    border-radius: 10px;;
}

#connecter {
    padding : 20px;
    width:400px;
}

#inscrire {
    padding : 20px;
    width:400px;
}

h1 {
    font-weight: normal;
    font-size: 30px;
    padding-bottom: 20px;
}

label {
    display: block;
    font-weight: light;
    font-size: 18px;
    padding:10px 0 5px 0;
}

input {
    width: 100%;
    height: 30px;
    display: block;
    font: inherit;
    font-weight: lighter;
    outline: inherit;
	border: #D6D6D6 solid 1px;
    background-color: #202020;
    border-radius: 10px;
    padding-left: 5px;
    color-scheme: dark;
    color: #D6D6D6;
}

#bouton_submit {
    width: max-content;
	border: none;
	font: inherit;
	outline: inherit;
    display: flex;
    background-color: #FFD100;
    justify-content: center;
    flex-direction: column;
    margin-right: 5px;
    border-radius: 10px;
    color: #111111;
    border-radius: 20px/50px;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: normal;
    transition-duration: 0.1s;
    font-size: 18px;
    padding: 12px 14px 15px 14px;
}

#bouton_submit:hover{
    background-color: #ffd0006d;
}

#refused label {
    display: none;
    color: #ff0000;
    font-weight: lighter;
    font-size: 14px;
    padding: 0 0 5px 0;
}

#refused:target label {
    display: block;
}

#refused:target #username:invalid:empty {
	border: #ff0000 solid 1px;
}

#already_used label {
    display: none;
    color: #ff0000;
    font-weight: lighter;
    font-size: 14px;
    padding: 0 0 5px 0;
}

#already_used:target label {
    display: block;
}

#already_used:target #username:invalid:empty {
	border: #ff0000 solid 1px;
}

#wrong_pwd .error_mdp {
    display: none;
    color: #ff0000;
    font-weight: lighter;
    font-size: 14px;
    padding: 0 0 5px 0;
}

#wrong_pwd:target .error_mdp {
    display: block;
}

#wrong_pwd:target #password:invalid:empty {
	border: #ff0000 solid 1px;
}

#wrong_pwd:target #password_repete:invalid:empty {
	border: #ff0000 solid 1px;
}

#error_connection .error_connect_label {
    display: none;
    color: #ff0000;
    font-weight: lighter;
    font-size: 14px;
    padding: 0 0 5px 0;
}

#error_connection:target .error_connect_label {
    display: block;
}

#error_connection:target input:invalid:empty {
	border: #ff0000 solid 1px;
}

#error_connection:target input:invalid:empty {
	border: #ff0000 solid 1px;
}
/* 
#111111
#D6D6D6
#202020
#FFD100
#E8B30C
*/