* {
    margin: 0 auto;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Thin.otf") format('otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Light.otf") format('otf');
    font-weight:light;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Book.otf") format('otf');
    font-weight:normal;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Bold.otf") format('otf');
    font-weight:bold;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Heavy.otf") format('otf');
    font-weight:bolder;
}


body {
    background-color : #202020;
    color:#D6D6D6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 70vw;
    height: max-content;
    background-color: #111111;
    font-size: 15px;
    font-weight: normal;
    padding : 40px 20px;
    border-radius: 10px;
}

#infoarticle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding : 40px 20px 10px 20px;
}

#image_tags {
    padding:10px;
    width: 15em;
    height: max-content;
}

#jacquette_article{
    width: 15em;
    height: 17vw;
    object-fit: cover;
    border-radius: 10px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2px;
}

#tags div {
    padding:2px;
}

#tags p {
    width: max-content;
    font-size: 10px;
    font-weight: normal;
    padding : 3px 6px;
    border : #D6D6D6 solid 1px;
    border-radius: 20px;
}

#note_moyenne {
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFD100;
    font-size: 18px;
}

#note_moyenne p {
    font-weight: lighter;
    font-size: 15px;
}

.support {
    color: #D6D6D6;
}

.categorie {
    background-color: #D6D6D6;
    color: #111111;
}

h1 {
    font-weight: light;
    font-size: 30px;
    padding-bottom: 20px;
}

#contenu {
    width: 50vw;
    font-weight: lighter;
    font-size:15px;
}

#note {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: #FFD100;
    font-weight: bold;
    padding-top: 5vw;
    margin-bottom: 50px;
}

#infojeux {
    display: block;
    margin-top: 20px;
    margin-bottom: 80px;
}

#texte {
    padding:10px 40px
}

h2 {
    font-weight: light;
    font-size:22px;
    padding-bottom: 15px;
}

h3 {
    font-weight: normal;
    font-size:17px;
    padding-bottom: 5px;
}

#infojeux p {
    font-weight: lighter;
    font-size:15px;
    padding-bottom: 10px;
}

#liste_image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    padding: 0 20px;
}

.image_jeu {
    width: 15em;
    height: 10em;
    border-radius: 15px;
    padding: 10px;
    object-fit: cover;
    transition-duration: 0.1s;
}

.image_jeu:hover {
    opacity: 0.6;
}
#liste_avis {
    width: max-content;
    padding : 5px;
    background-color: #202020;
    margin-bottom: 50px;
    margin-top: -50px;
}

.entete {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-variant: none;
    color:#D6D6D6;
    font-weight: normal;
    font-size:17px;
}

.user:hover {
    opacity:0.8;
}

.user img {
    width:20px;
    height:20px;
    object-fit: cover;
    border-radius: 30px;
    padding: 8px;
}

.avis{
    display: block;
    width: 50vw;
    padding : 20px;
    background-color: #111111;
    border-radius: 10px;
    font-weight: lighter;
}

.avis p {
    padding-bottom: 10px;
    width: 100%;
}

.date {
    width: 100%;
    padding:7px 0px 0 20px;
    font-size: 11px;
    font-weight: lighter;
}

.titre {
    font-weight: normal;
    font-size:24px;
    padding-bottom: 10px;
}

.note_avis{
    display: inline-block;
    width: 40vw;
    font-weight: normal;
    font-size:24px;
    color:#FFD100;
    margin-right: 5px;
    text-align: end;
}

.note_avis input {
    width: 50px;
    color:#FFD100;
}

.profil {
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    padding-bottom: 10px;
}

input {
    text-align: start;
    font: inherit;
    outline: inherit;
    border:none;
    background-color: #202020;
    border-radius: 10px;
    padding: 3px;
    color-scheme: dark;
}


#title {
    padding-left: 5px;
    width:35%;
    height: max-content;
    font-weight: normal;
    font-size:24px;
    margin-left: 5px;
    color: #D6D6D6;
}

#title::placeholder {
    color: #d6d6d6b4;
    font-weight: normal;
    font-size:24px;
}

#redaction {
    width: 100%;
    height: 100px;
    text-align: start;
    font: inherit;
    font-weight: lighter;
    outline: inherit;
    /* border:none; */
	border: #202020 solid 1px;
    background-color: #202020;
    border-radius: 10px;
    padding: 3px;
    color-scheme: dark;
    color: #D6D6D6;
}

#redaction::placeholder{
    color: #d6d6d6b4;
    padding:3px;
}

#bouton_submit {
    width: max-content;
	border: none;
	font: inherit;
	outline: inherit;
    display: flex;
    background-color: #FFD100;
    justify-content: center;
    flex-direction: column;
    margin-right: 5px;
    border-radius: 10px;
    color: #111111;
    border-radius: 20px/50px;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: normal;
    transition-duration: 0.1s;
    font-size: 16px;
    padding: 3px 12px 6px 12px;
}

#bouton_submit:hover{
    background-color: #ffd0006d;
}

.overlay {
    z-index: 1;
    position:absolute; 
    height: 810px;
    background-color: #111111df;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.4s;
    visibility: hidden;
    opacity: 0;
  }

.overlay:target {
    visibility: visible;
    opacity: 1;
  }

#popup::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, #11111100 0, #111111df 100%);
    margin-bottom: auto;
    height: 150px;
    margin-top:-150px;
    content: '';
}
  
.liste_photos_grandes {
    z-index: 1;
    margin-top: 150px ;
    margin-bottom: 300px;
    padding: 50px 0;
    background: #202020;
    border-radius: 15px;
    width: max-content;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition: all 2s ease-in-out;
}

.arrow {
    padding: 50px;
    width: 2vw;
}

.arrow:hover {
    opacity:0.8;
}

.grand_photo {
    width: 40vw;
    height: auto;
}
  
.close_button {
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
    color: #D6D6D6;
    font-size: 28px;
}

#button_modification {
    z-index: 100;
    position: fixed;
    max-width: 100px;
    width:15vw;
    right : 3vw;
    bottom : 70px;
    transition-property: opacity;
    transition-duration: 0.1s;
    -webkit-filter: drop-shadow(0px 2px 4px #20202086);
    filter: drop-shadow(0px 2px 4px #20202086);
}

.ligne_boutons{
    width:100%;
    text-align: end;
    margin-top: -20px;
}

.button_agir{
    font-weight: lighter;
    text-decoration: none;
    color: #d6d6d69f;
    font-size: 15px;
    padding:8px 14px
}

.button_agir:hover{
    opacity:0.5;
}

.delete_button{
    text-decoration: none;
    color: #d6d6d69f;
    font-size: 15px;
}

.delete_button:hover{
    opacity:0.5 ;
}

.overlay_delete {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #111111b3;
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
z-index: 100;
}
.overlay_delete:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #202020;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}

.popup h2 {
margin-top: 0;
color: #D6D6D6;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #D6D6D6;
}

.delete_box{
text-align:center;
}

#date_article{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:max-content;
    height: max-content;
    font-weight: normal;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: end;
    font-size: 14px;
}

#date_article p {
    width: 100%;
    font-weight: lighter;
}