* {
    margin: 0 auto;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Thin.otf") format('otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Light.otf") format('otf');
    font-weight: light;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Book.otf") format('otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Bold.otf") format('otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Heavy.otf") format('otf');
    font-weight: bolder;
}


body {
    background-color : #202020;
    color:#EEEDED;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
    font-size: 15px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carte {
    text-decoration: none;
    background-color: #D6D6D6;
    width: 300px;
    height:200px;
    margin:20px 10px 20px 10px;
    color: #111111;
    float:left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.carte img {
    width: 300px;
    height:200px;
    object-fit: cover;
}

.carte:hover {
    transform: scale(1.05);
}

.carte::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #202020 100%);
    margin-bottom: auto;
    height: 150px;
    margin-top:-150px;
    content: '';
}

/* 
#111111
#D6D6D6
#202020
#FFD100
#E8B30C
*/