* {
    margin: 0 auto;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Thin.otf") format('otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Light.otf") format('otf');
    font-weight: light;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Book.otf") format('otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Bold.otf") format('otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Heavy.otf") format('otf');
    font-weight: bolder;
}

body::before {
    content: url("../images/logo_md.svg");
    display: none;
}

body {
    background-color : #202020;
    color:#d6d6d6;
    font-family: Nanami;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    height: 80px;
    width: 100%;
    background-color : #111111 ;
    /* position:fixed; */
    /* box-shadow: 0 2px 0 #D6D6D6; */
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}

#banner {
    margin-left: 10vw;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    align-items: center;
    text-decoration: none;
}

header h1 {
    z-index:3;
    color:#D6D6D6;
    font-size: 40px;
    font-weight: bolder;
    padding: 0px 0px 15px 15px;
}

#logo {
    z-index:3;
    width: min-content;
    background-image: url("../images/logos/logo_md.svg");
    background-size:contain;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0px 0px 3px #20202086);
    filter: drop-shadow(0px 0px 3px #20202086);
}

#logo img:hover {
    transform: rotate(360deg);
}

#logo img {
    width:90px;
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function:cubic-bezier(.74,-0.51,.39,.91);
}

#connection_button {
    margin-right: 0;
    animation-name: slidein;
    animation-duration: 2s;
}

#connection_button img {
    z-index:1;
    max-width: 230px;
    width:30vw;
    transition-duration: 0.1s;
    margin-bottom: 5px;
}

#connection_button img:hover {
    opacity: 50%;
}

.double_button {
    z-index:1;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    transition-duration: 0.1s;
    animation-name: slidein;
    animation-duration: 2s;
}

.double_button img:hover {
    opacity: 50%;
}

#account_button img {
    max-width: 196px;
    width:24vw;
    margin-right:-1px;
    margin-bottom: 5px;
}

#disconnect_button img {
    max-width: 56px;
    width:7vw;
    margin-bottom: 5px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
    
    to {
        margin-left: 0%;
    }
}


nav {
    z-index: 2;
    /* position:fixed; */
    top:80px;
    width:100%;
    height: max-content;
    border: #FFD100 solid;
    border-width: 1px 0;
    background-color: #FFD100;
    /* box-shadow: 0px 4px 8px #2020202b; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    padding:2px;
    border-radius: 32px;
}

#nav a {
    background-color: #202020;
    border-radius: 10px;
    color: #D6D6D6;
    padding: 4px 10px;
    margin : 0px 4px;
    text-align: center;
    text-decoration: none;
    font-weight: light;
    font-size: 12px;
    transition-duration: 0.2s;
    float:left;
}

#nav a:hover {
    background-color: #2020206e;
}

#nav a.active {
    background-color: #D6D6D6;
    color:#111111;
}

footer {
    display: flex;
    justify-content: space-between;
    position: static;
    margin-left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #111111;
    height: max-content;
    font-weight: lighter;
    font-size: 1vw;
    width: 100%;
}

.contact {
    padding: 20px;
    color: #FFD100
}

/* 
#111111
#D6D6D6
#202020
#FFD100
#E8B30C
*/