* {
    margin: 0 auto;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Thin.otf") format('otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Book.otf") format('otf');
    font-weight:light;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Light.otf") format('otf');
    font-weight:normal;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Bold.otf") format('otf');
    font-weight:bold;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Heavy.otf") format('otf');
    font-weight:bolder;
}


body {
    min-height: max-content;
    background-color : #111111;
    color:#D6D6D6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profil, #section_public_account {
    width: 80vw;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
    font-size: 15px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    padding : 50px 0;
    border-radius: 10px;;
}

h1 {
    z-index:3;
    color:#D6D6D6;
    font-size: 40px;
    font-weight: bolder;
    padding: 0px 0px 15px 15px;
}

.photo_profil {
    width: 10vw;
    height: 10vw;
    background-image: url('../images/profile_picture/change_pp.svg');
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    padding:4px;
    border: #D6D6D6 solid 2px;
}

.avatar {
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    opacity: 1;
    transition-duration: 0.2s;
}

.avatar:hover{
    opacity: 0.2;
}

.overlay {
    z-index: 1;
    height: calc(200vh);
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111111df;
    transition: opacity 0.4s;
    visibility: hidden;
    opacity: 0;
  }

.overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
.selection_pp {
    z-index: 1;
    margin-top: 150px ;
    padding: 20px;
    background: #202020;
    border-radius: 5px;
    width: 40vw;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition: all 2s ease-in-out;
}

.selection_pp div {
    padding-top: 50px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
  
.close_button {
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
    color: #D6D6D6;
    font-size: 28px;
}

.pp_now {
    width:12vw;
    height: 12vw;
    padding:5px;
    border-radius: 100%;
    border: #D6D6D6 solid 2px;
}

.liste_pp {
    width:9vw;
    height: 9vw;
    padding: 20px;
    border-radius: 100%;
    transition-property: opacity;
    transition-duration: 0.1s;
}

.liste_pp:hover {
    opacity: 0.6;
}

.gauche {
    padding-top: 20px;
    margin-left:50px;
}

#name {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

h2 {
    padding-top: 5px;
    font-weight: light;
    font-size: 50px;
    font-variant:small-caps;
}

h3 {
    padding-right: 20px;
    font-size: 30px;
    font-weight: normal;
}

#role {
    border-radius: 10px;
    width: min-content;
    color: #D6D6D6;
    padding: 3px 8px 6px 8px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    font-variant:small-caps;
    font-weight: normal;
    box-shadow: 0px 2px 4px #1111112b;
}

.visiteur {background-color: #6f758f;}
.membre {background-color: #42743c;}
.redacteur {background-color: #b98827;}
.administrateur {background-color: #a82222;}

#dates_account {
    font-size: 15px;
    padding-top: 20px;
}

#dates_account p{
    display: inline-block;
    font-weight: lighter;
}

#old {
    font-size: 16px;
    font-weight: lighter;
}

#liste_avis {
    width: max-content;
    padding : 5px;
    background-color: #202020;
}

.entete {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.avis{
    display: block;
    width: 50vw;
    padding : 20px;
    background-color: #111111;
    border-radius: 10px;
    font-weight: lighter;
}

.avis p {
    padding-bottom: 10px;
    width: 100%;
}

.titre_avis {
    font-weight: normal;
    font-size:24px;
    padding-bottom: 10px;
}

.note_avis{
    display: inline-block;
    width: 40vw;
    font-weight: normal;
    font-size:24px;
    color:#FFD100;
    margin-right: 5px;
    text-align: end;
}

.note_avis input {
    width: 50px;
    color:#FFD100;
}

#button_modification_avis{
    margin-left: 100px;
}

#button_modification:hover,.delete_button:hover{
    opacity:0.5;
}

#button_modification_avis:hover,.button_supprimer_article:hover,.button_supprimer_avis:hover{
    opacity:0.5;
    background-color: #FFD100;
}

#button_modification_avis,.button_supprimer_avis,.button_supprimer_article{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 2px;
    border: #FFD100 solid 1px;
    border-radius: 15%;
}

.delete_button,#gotojeux{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.button_supprimer_avis{
    margin-left: 40px;
}

.button_supprimer_article{
    position: absolute;
    right: 13em;
    top: 10em;
}

.overlay_delete {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
z-index: 100;
}
.overlay_delete:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #202020;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}

.popup #delete_title {
margin-top: 0;
color: #D6D6D6;
font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #D6D6D6;
}

.delete_box{
text-align:center;
}

#liste_article {
    width: 56vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border-radius: 10px;
    margin-bottom: 50px;
}

#liste_article h2 {
    padding:15px 0px 30px 0px;
}

#liste_article a {
    text-decoration: none;
}

.article_account {
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    padding : 15px;
    border-radius: 10px;
    background-color: #202020;
    text-decoration: none;
    color: #D6D6D6;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    opacity: 1;
}

.article_account:hover{
    opacity: 0.4;
}

.degrade::after {
    width: 100%;
    border-radius: 10px;
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, #11111100 0, #111111 100%);
    margin-bottom: 30px;
    height: 0px;
    margin-top:0px;
    text-align: center;
    font-size: 1.5vw;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    color: #D6D6D600;
    content: 'voir article';
    align-items: center;
    font-weight: lighter;
    font-variant: small-caps;
}

.degrade:hover::after{
    height: 50px;
    margin-top:-50px;
    color: #D6D6D6;
    content: 'voir article';
}



.article_account p {
    height: 100%;
    font-weight: lighter;
    font-size: 0.9vw;
    margin-bottom: 10px;
}

.jacquette_article{
    margin-left: 0px;
    width: 6vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 10px;
    background-color: #202020;
}

.contenu {
    height: 8vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:baseline;
}

.titre_article {
    color:#D6D6D6;
    font-size: 2.6vw;
    font-weight: normal;
    padding: 0 10px;
}

.note_article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4vw;
    color: #FFD100;
    font-weight: normal;
}


.avatar_public{
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    opacity: 1;
    transition-duration: 0.2s;
}

.photo_profil_public{
    width: 10vw;
    height: 10vw;
    background-image: url('../images/profile_picture/change_pp.svg');
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    padding:4px;
    border: #D6D6D6 solid 2px;
}

 
#button_modification {
    z-index: 1;
    position: absolute;
    max-width: 100px;
    width:15vw;
    right : 15em;
    top : 145px;
    transition-property: opacity;
    transition-duration: 0.1s;
    -webkit-filter: drop-shadow(0px 2px 4px #20202086);
    filter: drop-shadow(0px 2px 4px #20202086);
}

#button_modification:hover,.delete_button:hover{
    opacity:0.5;
}

#retour_index{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 2px;
    border-radius: 15%;
    position: fixed;
    top: 100px;
    left: 140px;
}

/* 
#111111
#D6D6D6
#202020
#FFD100
#E8B30C
*/