* {
    margin: 0 auto;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Thin.otf") format('otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Light.otf") format('otf');
    font-weight: light;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Book.otf") format('otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Bold.otf") format('otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Nanami';
    src: url("../fonts/Nanami-Heavy.otf") format('otf');
    font-weight: bolder;
}

body {
    background-color : #202020;
    color:#D6D6D6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jaquettes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
    font-size: 15px;
    font-weight: normal;
    margin-top: 54px;
    margin-bottom: 54px;
}

.carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #111111;
    width: 300px;
    height:max-content;
    margin:20px 10px 20px 10px;
    float:left;
    box-shadow: #1111114b 0 3px 8px ;
    border-radius: 10px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.degrade img {
    width: 300px;
    height:300px;
    object-fit: cover;
}

.carte:hover {
    translate: 0 -3px;
    transform: scale(1.01);
}

.degrade::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #111111 100%);
    margin-bottom: auto;
    height: 150px;
    margin-top:-150px;
    content: '';
}

h2 {
    z-index: 3;
    padding: 5px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #D6D6D6;
}

h3 {
    z-index: 3;
    padding: 2px;
    margin-left: 10px;
    font-size: 10px;
    font-weight: lighter;
    color: #D6D6D6;
}

.tags {
    max-width: 80%;
    height: 50px;
    z-index: 3;
    padding: 2px 0 10px 0;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.tags div{
    padding:2px;
}

.tags p {
    font-size: 9px;
    font-weight: normal;
    padding : 3px 6px;
    border : #D6D6D6 solid 1px;
    border-radius: 10px;
}

.support {
    color: #D6D6D6;
}

.categ {
    background-color: #D6D6D6;
    color: #111111;
}

#button_redige {
    z-index: 100;
    position: fixed;
    max-width: 100px;
    width:15vw;
    right : 4vw;
    bottom : 70px;
    transition-property: opacity;
    transition-duration: 0.1s;
    -webkit-filter: drop-shadow(0px 2px 4px #20202086);
    filter: drop-shadow(0px 2px 4px #20202086);
}

#button_redige:hover{
    opacity:0.5;
}

#boutons_pages{
    padding: 30px;
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.page_pas_now {
    padding:10px;
    border-radius: 20px;
    background-color: #202020;
    color: #D6D6D6;
    border : #D6D6D6 solid 1px;
    text-decoration: none;
    transition-duration: 0.1s;
}

.page_pas_now:hover{
    background-color: #d6d6d626;
}

.page_now {
    padding:10px;
    border-radius: 20px;
    color: #202020;
    text-decoration: none;
    background-color: #D6D6D6;
}

.separations {
    padding : 2px;
}


/* 
#111111
#D6D6D6
#202020
#FFD100
#E8B30C
*/